[Unit]
Description=Sync webserver repository

[Service]
Restart=on-failure
RestartSec=5
Type=oneshot
ExecStart=/usr/local/bin/sync_webserver.sh

[Install]
WantedBy=multi-user.target
