@import url('https://fonts.cdnfonts.com/css/space-mono');

body, html {
    margin: auto;
    background: #090d00;
    padding: 0;
    border: none;
    font-family: 'Space Mono', sans-serif;
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main{
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Navbar pc */
#navbar_pc .navbar{
    position: fixed;
    left: 10px;
    background-color: rgb(255, 255, 255, .4);
    z-index: 51;
    width: max-content;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#navbar_pc .navbar.top{
    top: 10px;
}

#navbar_pc .navbar.bottom{
    bottom: 10px;
}

#navbar_pc .navbar .link{
    box-shadow: inset white 0 0 10px 0;
    margin: 10px;
    border-radius: 20px;
    display: block;
    color: rgb(0, 0, 0, .9);
    text-decoration: none;
    padding: 10px;
    width: auto;
    transition: .3s;
}

#navbar_pc .navbar .link:hover{
    background-color: rgb(255, 255, 255, .4);
}

#navbar_pc .navbar .link .link_icon{
    text-align: center;
    width: 20px;
}

#navbar_pc .navbar .link .link_text{
    display: none;
}

#navbar_pc .navbar:hover .link .link_text{
    display: inline;
}

#navbar_pc .navbar .link.active{
    background-color: rgb(255, 255, 255, .5);
}

/* Navbar phone */
#navbar_phone .navbar{
    transform: translateX(-150%);
    top: 70px;
    position: fixed;
    left: 10px;
    background-color: rgb(255, 255, 255, .4);
    z-index: 51;
    width: calc(100% - 20px);
    height: calc(100% - 70px - 10px);
    border-radius: 20px;
    display: none;
    backdrop-filter: blur(5px);
}

#navbar_phone .navbar .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#navbar_phone .navbar_phone_button{
    z-index: 51;
    position: fixed;
    background-color: rgb(255, 255, 255, .4);
    border: none;
    height: 50px;
    width: 50px;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    font-size: 25px;
    display: none;
}

#navbar_phone .navbar_phone_enable{
    animation: slide_to_right 1s ease-out;
    animation-fill-mode: forwards;
}

#navbar_phone .navbar_phone_disable{
    animation: slide_to_left 1s;
    animation-fill-mode: forwards;
}

#navbar_phone .navbar .link{
    box-shadow: inset white 0 0 10px 0;
    margin: 10px;
    border-radius: 20px;
    display: block;
    color: rgb(0, 0, 0, .9);
    text-decoration: none;
    padding: 10px;
    width: auto;
}

#navbar_phone .navbar .link .link_icon{
    text-align: center;
    width: 20px;
}

#navbar_phone .navbar:hover .link .link_text{
    display: inline;
}

#navbar_phone .navbar .link.active{
    background-color: rgb(255, 255, 255, .5);
}

@keyframes slide_to_right {
    0%{
        transform: translateX(-150%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slide_to_left {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-150%);
    }
}

/* Overlay image */
#background_blurred{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: .3s;
}

#background_blurred.all{
    z-index: 50;
}

#background_blurred.add_main_dir{
    z-index: 8;
}

/* Article */
article{
    position: absolute;
    left: 80px;
    top: 10px;
    width: calc(100% - 80px - 10px);
}

.title{
    text-decoration: underline;
    margin: 0;
    margin-bottom: 5px;
    color: white;
}

/* Main directories */
#main_directories{
    /* box-shadow: 0 0 50px 1px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: calc(100% - 350px);
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
}

#main_directories .main_dir{
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    width: max-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .6);
    transition: .5s;
    margin: 10px 5px 10px 5px;
}

#main_directories .main_dir .main_dir_icon{
    float: left;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
}

#main_directories .main_dir .main_dir_title{
    float: right;
    display: inline;
}

#main_directories .main_dir .main_dir_weight{
    display: inline;
}

#main_directories .main_dir hr{
    width: 70%;
    border: none;
    border-radius: 100px;
    transition: .5s;
}

#main_directories .main_dir:hover{
    cursor: pointer;
}

#main_directories .main_dir:hover hr{
    transform: translateY(5px);
}

.fa-plus.add-icon{
    transition: .5s;
    font-size: 30px;
    width:30px;
    height:30px;
    text-align:center;
}

.fa-plus.add-icon:hover{
    padding: 5px;
    transform: rotate(180deg);
}

/* Dashboard */
#dashboard{
    /* box-shadow: 0 0 50px 10px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    position: fixed;
    right: 25px;
    top: 10px;
    bottom: 10px;
    width: 250px;
    /* height: calc(100% - 100px); */
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,.2);
    text-align: center;
}

#add_main_dir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    z-index: 9;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px 5px 5px 20px;
    backdrop-filter: blur(10px);
    padding-bottom: 20px;
    text-align: center;
    overflow: auto;
}

.fa-circle-xmark.close{
    position: sticky;
    top: 0;
    font-size: 30px;
    float: right;
    background-color: white;
    border-radius: 100px;
    transition: .2s;
}

.fa-circle-xmark.close:hover{
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.hidden{
    display: none;
}

.show_add_main_dir{
    animation: slide_to_up 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide_to_up {
    0%{
        transform: translate(-50%, 150%);
    }

    100%{
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Color picker */
#colorpicker{
    display: inline-block;
    background-color: rgb(255, 255, 255, .8);
    width: min-content;
    padding: 20px;
    border-radius: 20px;
}

#colorpicker input{
    outline: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    border: none;
    box-shadow: 0 0 5px 1px black;
}

#canvascolorpicker{
    border-radius: 10px;
    width: 225;
}

.add_main_dir_label{
    color: white;
}

/* add_main_dir_select_icon */

#add_main_dir_select_icon{
    width: 200px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 5px 5px 10px;
    border: none;
    outline: none;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.6);
    overflow: auto;
    height: 300px;
}

#add_main_dir_select_icon .select_icon{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: .2s;
}

#add_main_dir_select_icon .select_icon:hover{
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#select_icon .visible_icon{
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, .6);
    transition: .2s;
    box-shadow: 1px 1px 1px 1px white;
}

#select_icon .visible_icon:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, .8);
}

#main_dir_name{
    background-color: rgb(255, 255, 255, .7);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
    width: 40%;
}

#btn-create-main-dir{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: bolder;
    box-shadow: 1px 1px 1px 1px white;
    transition: .2s;
}

#btn-create-main-dir:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px white;
}































































@media only screen and (max-width: 768px){
    #navbar_pc{
        display: none;
    }

    #navbar_phone .navbar{
        display: block;
    }

    #navbar_phone .navbar_phone_button{
        display: block;
    }

    article{
        left: 20px;
        top: 70px;
        width: calc(100% - 20px - 20px);
    }

    #main_directories{
        text-align: center;
        max-width: 100%;
    }

    #dashboard{
        position: initial;
        height: auto;
        margin-top: 10px;
        width: calc(100% - 40px);
    }

    #main_directories .main_dir{
        width: calc(100% - 30px);
    }

    #add_main_dir{
        width: 80%;
        height: 70%;
    }

    .title{
        font-size: 25px;
    }

    #canvascolorpicker{
        border-radius: 10px;
        width: 200px;
    }

    #add_main_dir_select_icon{
        width: 80%;
    }

    #main_dir_name{
        width: 70%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, .5);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, .7);
}