@import url('https://fonts.cdnfonts.com/css/space-mono');

body,
html {
    margin: auto;
    background: #090d00;
    padding: 0;
    border: none;
    font-family: 'Space Mono', sans-serif;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Navbar pc */
#navbar_pc .navbar {
    position: fixed;
    left: 10px;
    background-color: rgb(255, 255, 255, .4);
    z-index: 51;
    width: max-content;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#navbar_pc .navbar.top {
    top: 10px;
}

#navbar_pc .navbar.bottom {
    bottom: 10px;
}

#navbar_pc .navbar .link {
    box-shadow: inset white 0 0 10px 0;
    margin: 10px;
    border-radius: 20px;
    display: block;
    color: rgb(0, 0, 0, .9);
    text-decoration: none;
    padding: 10px;
    width: auto;
    transition: .3s;
}

#navbar_pc .navbar .link:hover {
    background-color: rgb(255, 255, 255, .4);
}

#navbar_pc .navbar .link .link_icon {
    text-align: center;
    width: 20px;
}

#navbar_pc .navbar .link .link_text {
    display: none;
}

#navbar_pc .navbar:hover .link .link_text {
    display: inline;
}

#navbar_pc .navbar .link.active {
    background-color: rgb(255, 255, 255, .5);
}

/* Navbar phone */
#navbar_phone .navbar {
    transform: translateX(-150%);
    top: 70px;
    position: fixed;
    left: 10px;
    background-color: rgb(255, 255, 255, .4);
    z-index: 51;
    width: calc(100% - 20px);
    height: calc(100% - 70px - 10px);
    border-radius: 20px;
    display: none;
    backdrop-filter: blur(5px);
}

#navbar_phone .navbar .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#navbar_phone .navbar_phone_button {
    z-index: 51;
    position: fixed;
    background-color: rgb(255, 255, 255, .4);
    border: none;
    height: 50px;
    width: 50px;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    font-size: 25px;
    display: none;
}

#navbar_phone .navbar_phone_enable {
    animation: slide_to_right 1s ease-out;
    animation-fill-mode: forwards;
}

#navbar_phone .navbar_phone_disable {
    animation: slide_to_left 1s;
    animation-fill-mode: forwards;
}

#navbar_phone .navbar .link {
    box-shadow: inset white 0 0 10px 0;
    margin: 10px;
    border-radius: 20px;
    display: block;
    color: rgb(0, 0, 0, .9);
    text-decoration: none;
    padding: 10px;
    width: auto;
}

#navbar_phone .navbar .link .link_icon {
    text-align: center;
    width: 20px;
}

#navbar_phone .navbar:hover .link .link_text {
    display: inline;
}

#navbar_phone .navbar .link.active {
    background-color: rgb(255, 255, 255, .5);
}

@keyframes slide_to_right {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide_to_left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-150%);
    }
}

/* Overlay image */
#background_blurred {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: .3s;
}

#background_blurred.all {
    z-index: 50;
}

#background_blurred.add_main_dir {
    z-index: 8;
}

/* Article */
article {
    position: absolute;
    left: 80px;
    top: 10px;
    width: calc(100% - 80px - 10px);
    height: calc(100% - 60px);
}

.title {
    text-decoration: underline;
    margin: 0;
    margin-bottom: 5px;
    color: white;
}

/* ==================== Home ==================== */

/* Main directories */
#main_directories {
    /* box-shadow: 0 0 50px 1px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: calc(100% - 350px);
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
}

#main_directories .main_dir {
    vertical-align: middle;
    display: inline-block;
    padding: 10px;
    width: max-content;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .6);
    transition: .5s;
    margin: 10px 5px 10px 5px;
}

#main_directories .main_dir .main_dir_icon {
    float: left;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
}

#main_directories .main_dir .main_dir_title {
    float: right;
    display: inline;
}

#main_directories .main_dir .main_dir_weight {
    display: inline;
}

#main_directories .main_dir hr {
    width: 70%;
    border: none;
    border-radius: 100px;
    transition: .5s;
}

#main_directories .main_dir:hover {
    cursor: pointer;
}

#main_directories .main_dir:hover hr {
    transform: translateY(5px);
}

.fa-plus.add-icon {
    transition: .5s;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.fa-plus.add-icon:hover {
    padding: 5px;
    transform: rotate(180deg);
}

/* Dashboard */
#dashboard {
    /* box-shadow: 0 0 50px 10px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    position: fixed;
    right: 25px;
    top: 10px;
    bottom: 10px;
    width: 250px;
    /* height: calc(100% - 100px); */
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
    text-align: center;
    overflow-y: auto;
}

#properties {
    /* box-shadow: 0 0 50px 10px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    position: fixed;
    right: 25px;
    top: 10px;
    bottom: 10px;
    width: 250px;
    /* height: calc(100% - 100px); */
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
    text-align: center;
    /* overflow-y: auto; */
}

#add_main_dir {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    z-index: 9;
    background-color: rgb(255, 255, 255, .5);
    border-radius: 20px 5px 5px 20px;
    backdrop-filter: blur(10px);
    padding-bottom: 20px;
    text-align: center;
    overflow: auto;
}

.fa-circle-xmark.close {
    position: sticky;
    top: 1px;
    right: 1px;
    font-size: 30px;
    float: right;
    background-color: white;
    border-radius: 100px;
    transition: .2s;
}

.fa-circle-xmark.close:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.hidden {
    display: none;
}

.show_add_main_dir {
    animation: slide_to_up 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes slide_to_up {
    0% {
        transform: translate(-50%, 150%);
    }

    100% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Color picker */
#colorpicker {
    display: inline-block;
    background-color: rgb(255, 255, 255, .8);
    width: min-content;
    padding: 20px;
    border-radius: 20px;
}

#colorpicker input {
    outline: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 5px;
    border: none;
    box-shadow: 0 0 5px 1px black;
}

#canvascolorpicker {
    border-radius: 10px;
    width: 225;
}

.add_main_dir_label {
    color: white;
}

/* add_main_dir_select_icon */

#add_main_dir_select_icon {
    width: 200px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px 5px 5px 10px;
    border: none;
    outline: none;
    width: 400px;
    background-color: rgb(255, 255, 255, 0.6);
    overflow: auto;
    height: 300px;
}

#add_main_dir_select_icon .select_icon {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    transition: .2s;
}

#add_main_dir_select_icon .select_icon:hover {
    justify-content: space-around;
    background-color: white;
    cursor: pointer;
}

#add_main_dir_select_icon .search_icon {
    outline: none;
    border: none;
    border-radius: 20px;
    width: 85%;
    padding: 5px;
    padding-left: 35px;
    transition: .3s;
    margin-bottom: 5px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#add_main_dir_select_icon .search_icon:focus {
    box-shadow: 0 0 10px 5px white;
}

#select_icon .visible_icon {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, .6);
    transition: .2s;
    box-shadow: 1px 1px 1px 1px white;
}

#select_icon .visible_icon:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, .8);
}

#select_icon ul {
    list-style-type: none;
}

#main_dir_name {
    background-color: rgb(255, 255, 255, .7);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
    width: 40%;
}

#btn-create-main-dir {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: bolder;
    box-shadow: 1px 1px 1px 1px white;
    transition: .2s;
}

#btn-create-main-dir:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px white;
}

/* Services status */
#services {
    /* box-shadow: 0 0 50px 1px rgb(25, 25, 25); */
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: calc(100% - 350px);
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
    margin-top: 10px;
}

.service {
    background-color: rgb(255, 255, 255, .6);
    width: max-content;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
}

.service ul {
    list-style-type: none;
    transform: translate(-20px, -10px);
}

.service ul li {
    transition: .2s;
}

.service ul li:hover {
    transform: translateX(10px);
    cursor: pointer;
}

.status_on_off {
    position: relative;
    float: right;
    /* left: 10px; */
    top: 20px;
    right: 10px;
}


/* Dashboard */
/* Memory Graph */
#memory {
    color: white;
}

#memory svg {
    height: 250px;
    transform: rotate(90deg);
    width: 250px;
}

#memory svg .progress-bar__background {
    fill: none;
    stroke: #e2eff0;
    stroke-width: 1.8;
}

#memory svg .progress-bar__progress {
    fill: none;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 1.9;
    transition: stroke-dashoffset 1s ease-in-out;
}

#memory .memory_occuped {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -20%);
}

.db_element {
    color: white;
    /* transform: translateY(-110%); */
    text-align: left;
}

.db_element h2 {
    margin: auto;
}

.db_element ul {
    list-style-type: none;
    transform: translate(-10px, -10px);
}

.db_element ul li {
    transition: .2s;
}

.db_element ul li:hover {
    cursor: pointer;
    transform: translateX(10px);
}





/* ==================== Explorer ==================== */
#explorer {
    backdrop-filter: blur(10px);
    padding: 20px;
    max-width: calc(100% - 650px);
    transform: translateX(302.5px);
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .2);
    height: 100%;
}

#searchbars {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#searchbars * * {
    margin: 0;
    border: none;
    padding: 0;
}

#searchbars input[type="submit"] {
    padding: 10px;
    border-radius: 0 50px 50px 0;
    transition: .5s;
    background-color: rgb(255, 255, 255, .8);
}

#searchbars input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
}

#searchbars input[type="text"] {
    padding: 10px;
    border-radius: 50px 0 0 50px;
    transition: .5s;
    outline: none;
    background-color: rgb(255, 255, 255, .5);
}

#searchbars input[type="text"]:focus {
    background-color: rgb(255, 255, 255, .8);
}

#searchbars .pathInputDiv input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
}

#searchbars .findInputDiv input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
}

#searchbars .pathInputDiv {
    margin-bottom: 10px;
    display: flex;
    border-radius: 50px;
    width: 70%;
}

#searchbars .findInputDiv {
    margin-bottom: 10px;
    display: flex;
    border-radius: 50px;
    width: 30%;
}

.folder-tree-wrapper {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    min-height: 260px;
    /* padding: 20px; */
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0);
}

.folder-tree {
    list-style: none;
    cursor: pointer;
    padding-left: 20px;
}

.folder-tree li {
    margin-bottom: 10px;
    font-size: 14px;
    transition: all .4s ease;
    position: relative;
}

.folder-tree li:hover {}

article .fa-folder {
    width: 15px;
    color: rgb(242, 176, 53);
    text-align: center;
}

article .fa-file, article .fa-file-text {
    width: 15px;
    color: rgb(255, 240, 212);
    text-align: center;
}

.folder-tree li b.name {
    background-color: rgb(255, 255, 255, .2);
    padding: 1px 5px 1px 5px;
    border-radius: 15px 50px 50px 15px;
    margin-left: 7px;
    transition: .2s;
}

.folder-tree li b.name:hover {
    background-color: rgb(255, 255, 255, .4);
}

.folder-tree li ul {
    padding-left: 10px;
    padding-top: 8px;
}

.folder-tree ul {
    display: none;
    position: relative;
}

.folder-tree ul:before {
    position: absolute;
    content: '';
    left: -10px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: transparent;
    border-left: dashed 1px rgba(255, 255, 255, .8);
    border-bottom: dashed 1px rgba(255, 255, 255, .8);
}

.folder-tree li ul li {
    display: block;
    margin-bottom: 8px;
}

.folder-tree .arrow {
    position: absolute;
    top: 4px;
    left: -14px;
    width: 8px;
    height: 8px;
    transition: all .4s ease;
    transform: rotate(-90deg) translate(-5px, -4px);
    /* transform: translate(); */
}

.folder-tree .arrow i {
    color: #ffffff;
    transition: all .4s ease;
}

.folder-tree .arrow:hover i {
    color: #ffffff;
}

.folder-tree li.expanded>ul {
    display: block;
}

.folder-tree li.expanded>.arrow {
    transform: rotate(0deg) translate(-1.6px, -2px);
}

#favorites_bar {
    backdrop-filter: blur(10px);
    position: fixed;
    overflow: auto;
    width: 250px;
    background-color: rgb(255, 255, 255, .2);
    padding: 20px;
    border-radius: 20px;
    top: 10px;
    bottom: 10px;
}





/* ==================== Terminal ==================== */
#terminal {
    position: fixed;
    backdrop-filter: blur(10px);
    padding: 20px;
    width: calc(100% - 130px);
    border-radius: 20px;
    background-color: black;
    bottom: 10px;
    top: 120px;
    /* overflow-y: auto;
    overflow-x: auto; */
}

.terminalInstance {
    margin: 10px;
    text-align: center;
}

.btnInstance {
    font-family: 'Space Mono', sans-serif;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255, .2);
    border: none;
    transition: .2s;
}

.btnInstance:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #navbar_pc {
        display: none;
    }

    #navbar_phone .navbar {
        display: block;
    }

    #navbar_phone .navbar_phone_button {
        display: block;
    }

    article {
        left: 20px;
        top: 70px;
        width: calc(100% - 20px - 20px);
    }

    #main_directories {
        text-align: center;
        max-width: 100%;
    }

    #dashboard {
        position: initial;
        height: auto;
        margin-top: 10px;
        width: calc(100% - 40px);
    }

    #main_directories .main_dir {
        width: calc(100% - 30px);
    }

    #add_main_dir {
        width: 80%;
        height: 70%;
    }

    .title {
        font-size: 25px;
    }

    #canvascolorpicker {
        border-radius: 10px;
        width: 200px;
    }

    #add_main_dir_select_icon {
        width: 80%;
    }

    #main_dir_name {
        width: 70%;
    }

    #services {
        text-align: center;
        max-width: 100%;
    }

    #services .service {
        text-align: left;
        width: calc(100% - 40px);
    }

    #terminal {
        position: initial;
        height: calc(100% - 150px);
        margin-top: 10px;
        width: calc(100% - 40px);
    }

    #properties {
        display: none;
    }

    #explorer {
        min-width: calc(100% - 40px);
        /* background-color: blue; */
    }
}

@media screen and (max-width: 425px) {
    #searchbars .pathInputDiv {
        width: 100%;
    }

    #searchbars .findInputDiv {
        width: 100%;
    }

    #explorer .filesDiv{
        max-height: calc(100% - 100px);
    }

}

@media screen and (max-width: 768px) and (min-width: 618px) {
    #main_directories .main_dir {
        width: max-content;
    }

    .db_element {
        vertical-align: top;
        display: inline-block;
    }

    #services .service {
        width: max-content;
    }
}

@media screen and (max-width: 1024px) {
    #favorites_bar {
        display: none;
    }

    #explorer {
        transform: translateX(0);
        max-width: calc(100% - 350px);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, .5);
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, .7);
}

#explorer #mytable{
    color: white;
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
}

#explorer #mytable tr{
    border-radius: 50px;
}

#explorer #mytable thead tr th:hover{
    background-color: rgba(255, 255, 255, .5);
}

#explorer #mytable thead{
    border-bottom: 10px solid transparent;
}

#explorer #mytable tbody tr:hover{
    background-color: rgba(255, 255, 255, .5);
    cursor: context-menu;
}

#explorer #mytable tbody tr td:nth-child(1){
    border-radius: 5px 0 0 5px;
}

#explorer #mytable tbody tr td:nth-child(2){
}

#explorer #mytable tbody tr td:nth-child(3){
}

#explorer #mytable tbody tr td:nth-child(4){
    border-radius: 0 5px 5px 0;
}

#explorer #mytable thead tr th{
    border-radius: 5px;
    padding-left: 5px;
    border-right: 2px solid rgba(255, 255, 255, .6);
}

#explorer #mytable tbody tr td{
    padding-left: 10px;
}

#explorer #mytable thead tr th{
    text-align: left;
}

#explorer .filesDiv{
    position: relative;
    height: calc(100% - 60px);
    overflow: auto;
}

#explorer #mytable tbody tr.selected{
    background-color: rgba(255, 255, 255, .4);
}

#properties #mytable2{
    color: white;
    width: 100%;
    border-collapse: collapse;
}

#properties #mytable2 tr{
    text-align: left;
}

#properties #mytable2 tr th{
    padding: 10px;
}

#properties .filesDiv{
    position: relative;
    height: calc(100% - 30px);
    overflow: auto;
}